<!--The content below is only a placeholder and can be replaced.-->
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Radius</th>
      <th scope="col">label</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
   <tr *ngFor="let a of areas">
     <td>{{a.nombre}}</td>
     <td>{{a.latitud}}</td>
     <td>{{a.longitud}}</td>
     <td>{{a.radio}}</td>
     <td>{{a.etiqueta}}</td>
     <td><button type="button" class="btn btn-danger" (click)="delete(a.id)">Delete Area</button></td>
   </tr>
    </tbody>
  </table>

  <button *ngIf="!showModal" class="btn btn-primary" (click)="showModal=true">New Area</button>
  <button *ngIf="showModal" class="btn btn-default" (click)="resetPlaceData()">CLOSE</button>


  <div *ngIf="showModal">

    <!--<agm-map [latitude]="51.678418" [longitude]="7.809007">-->
      <!--<agm-marker [latitude]="51.678418" [longitude]="7.809007"></agm-marker>-->
    <!--</agm-map>-->

    <div class="modal-body" id="newPlaceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">

            <div class="form-group">
              <input type="text" class="form-control" id="placeName"
                     [(ngModel)]="currentName" name="placeName"
                      placeholder="Name of new area">
              <input type="text" class="form-control" id="placeLabel"
                     [(ngModel)]="currentLabel" name="placeName"
                     placeholder="Label of new area">


            </div>



            <agm-map #map
                     [latitude]="initialLat"
                     [longitude]="initialLon"
                     [zoom]="initialZoom"
                     (mapClick)="mapClicked($event)">
              <!--<agm-marker *ngIf="currentMarker" [latitude]="currentLat" [longitude]="currentLon"></agm-marker>&ndash;&gt;-->

              <agm-circle *ngIf="currentMarker"
                          [latitude]="currentLat"
                          [longitude]="currentLon"
                          [radius]="currentRadius"
                          [fillColor]="'red'"
                          [circleDraggable]="true"
                          [editable]="true"
                          (radiusChange)="circleDragEnd($event)">

              </agm-circle>

            </agm-map>

          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeMap()">Cerrar</button>-->
            <button *ngIf="currentName && currentMarker" (click)="saveNewPlace()" class="btn btn-primary" data-dismiss="modal">Add</button>
          </div>

        </div>
      </div>



    </div>


  </div>
</div>
